* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --rtfm-primary-color: #e60000;
    --rtfm-offset-color: #f8f8f8;
    --rtfm-text-color: #333;
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
:root {
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
    --light-bg-color: #F7F9FC;
    --bg-color: #fff;
    --border-color: #eee;
    --bg-color-light: #fff;
    --bg-lightgrey: #f7f7f7;
    --border-color-light: #f8f9fa;
    --card-curve: 6px;
    --iframe-filter: grayscale(0%);
    --card-box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
    --card-hover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    --transformY: translateY(-0.5rem);
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dc4f72;
    --secondary: #0d5fa8;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* <!--section6 QUESTIONS AND ANSWERS General FAQs --> */
.section6 {
    background-color: var(--light-bg-color);
}


.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.section-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    color: var(--title-color);
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
   
}

.section6 .section6-image {
    position: sticky;
    top: 80px;
}

img.img-curve {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}

.section6 .w3l-faq ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}


.section6 .w3l-faq ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.section6 .w3l-faq ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid var(--border-color);
    margin: 0 0 15px 0;
    border-radius: var(--card-curve);
    background: var(--bg-color);
}

.section6 .w3l-faq ul li {
    -webkit-animation: flipdown 0.5s ease both;
    animation: flipdown 0.5s ease both;
}

li {
    list-style-type: none;
}

.section6 .w3l-faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}

input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

.section6 .w3l-faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

/* click before */
.section6 .w3l-faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.section6 .w3l-faq ul li i:before{
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
}
.section6 .w3l-faq ul li i:before {
    transition: all 0.25s ease-in-out;
}


.section6 .w3l-faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
.section6 .w3l-faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.section6 .w3l-faq ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--title-color);
    width: 3px;
    height: 9px;
}
.section6 .w3l-faq ul li i:after {
    transition: all 0.25s ease-in-out;
}

/* click after*/
.section6 .w3l-faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}

.section6 .w3l-faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}

/* h2, p before*/
.section6 .w3l-faq h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}
.section6 .w3l-faq ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
    
}
.section6 .w3l-faq p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.section6 .w3l-faq p {
    transition: all 0.25s ease-in-out;
}

.section6 .w3l-faq p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    margin-bottom: 0;
    z-index: 2;
}


/* <!--section7 FEATURED CASES Completed Projects --> */
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-container {
    padding: 0px;
    background-color: var(--bg-color);
    clear: left;
}

.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: var(--title-color);
    background: var(--bg-color) !important;
    border-bottom: 3px solid var(--border-color-light);
    border-color: rgb(193, 193, 193);
}

.resp-tabs-list li a {
    text-decoration: none;
    color: var(--title-color);
}

.active {
    border-bottom: none;
    margin-bottom: -1px !important;
    border-bottom: 3px var(--primary) solid !important;
    
}

.active a {
    color: var(--primary) !important;
}

.resp-tabs-container {
    padding: 0px;
    background-color: var(--bg-color);
    clear: left;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
    display: none;
}

.section7 .products-content {
    margin: 20px 0;
    padding: 15px;
}

.section7 .products-content h3 {
    color: var(--title-color);
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.section7 .products-content p {
    color: var(--text-color);
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}


.btn-outline-primary {
    color: #dc4f72 !important;
    border-color: #dc4f72 !important;
    padding: 0px 30px !important;
    text-transform: uppercase !important;
    transition: 0.3s ease-out !important;
    display: inline-block !important;
    line-height: 52px !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    margin: 0px !important;
}

.btn-outline-primary:hover {
    background-color: #dc4f72 !important;
    color: #fff !important;
}

/* .products-content {
    display: none !important;
}
.products-content:target {
    display: block !important;
} */

.products-content {
    display: none !important;
}

.active-content {
    display: block !important;
}




